# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# data files
*output/*wordle-analyzer-result*
generated_input/*
output.zip

# executible
# TODO(narangkay) Move executibles to bin dir so we don't need to gitignore each of them by name.
analyzer
combiner
collector
hidden_words_ranker
starting_words_ranker
officializer